<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
    	<div class="col-md-4 col-md-offset-4">
        
        <div class="panel panel-default" style="border-color: rgb(133, 133, 247)">
              <div class="panel">
                <div class="text-center">
                  <h3><i class="fa fa-user-o" style="font-size:36px"></i></h3>
              
                  <h2 class="text-center">Login </h2>
                 
                  <div class="panel">
    
                      <form class="col s12 white" (ngSubmit)="login()"  >
                          <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" required   placeholder="Enter Email" 
                            name="Email" #Email="ngModel" [(ngModel)]="user.email">
                          </div>
                  
                          <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control"  placeholder="Enter Password" required 
                            name="Password" #Password="ngModel"
                            [(ngModel)]="user.password">
                          </div>
                
                           <button class="btn-large btn-primary"  type="submit"> Submit</button>
                         <a (click)="gotoRegister()" class="btn btn-link">Register</a>
                         <a (click)="gotoforgotpassword()" class="btn btn-link">Forget Password</a>
                        </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>








































<!-- <div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>HTECOMMERCE Login</h2>
        </div>
      
            <div class="panel-body">
         <div class="container">
           
      <form class="col s12 white" (ngSubmit)="login()"  >
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required   placeholder="Enter Email" 
            name="Email" #Email="ngModel" [(ngModel)]="user.email">
          </div>
  
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  placeholder="Enter Password" required 
            name="Password" #Password="ngModel"
            [(ngModel)]="user.password">
          </div>

           <button class="btn-large btn-primary"  type="submit"> Submit</button>
         <a (click)="gotoRegister()" class="btn btn-link">Register</a>
         <a (click)="gotoforgotpassword()" class="btn btn-link">Forget Password</a>
        </form>
      </div>
      </div>
      </div>
      </div>
    </div>
    
   -->